Repository GSA/code-gov, pull requests merged in 2020-04, with the labels that each got.

#68 Update repository_management.md
  docs/repository_management.md
Labels: [area] docs

#69 Add persona docs
  docs/UX/agency-liaison.pdf
  docs/UX/market-researcher_procurement.pdf
  docs/UX/software-developer.pdf
  docs/UX/software-developer_federal.pdf
Labels: [area] docs

#71 Updated Apr agenda to meeting minutes
  docs/CoPMeetingMins/Apr2020.md
Labels: [area] docs, [effort] small, [priority] low

#72 Adding series folder and overview doc
  docs/FederalSourceCodeStudy/Series/overview.md
Labels: [area] docs, [effort] small

#73 Content updates
  docs/FederalSourceCodeStudy/Series/overview.md
  docs/FederalSourceCodeStudy/Series/overview_study.md
Labels: [area] docs, [effort] small

#76 Creation of Study Overview
  docs/FederalSourceCodeStudy/Series/overview_study.md
Labels: [area] docs, [effort] medium

#84 Added link to SPSQ
  docs/CoPMeetingMins/Apr2020.md
Labels: [area] docs, [effort] small

#89 OSS history QA
  docs/FederalSourceCodeStudy/Series/history_of_OSS.md
  docs/FederalSourceCodeStudy/Series/img/grace-hopper.png
Labels: [area] docs, [effort] small

#90 Gov't intersection with oss
  docs/FederalSourceCodeStudy/Series/govt_intersection_OSS.md
Labels: [area] docs, [effort] medium

#91 Govt intersection with oss qa
  docs/FederalSourceCodeStudy/Series/govt_intersection_OSS.md
  docs/FederalSourceCodeStudy/Series/history_of_OSS.md
  docs/FederalSourceCodeStudy/Series/study_overview.md
Labels: [area] docs, [effort] medium

#93 Updating ToC
  docs/FederalSourceCodeStudy/Series/govt_intersection_OSS.md
  docs/FederalSourceCodeStudy/Series/history_of_OSS.md
  docs/FederalSourceCodeStudy/Series/study_overview.md
Labels: [area] docs, [effort] small
